<p>
  Bestell-ID: <%= @order.number %><br />
  E-Mail: <%= @order.email %><br />
</p>

<% @order.addresses.each do |address| %>
<h2><%= address.kind == 1 ? "Firmenadresse" : "Adresse der verantwortlichen Person" %></h2>
<p>
  <% if address.kind == 1 %>Firma: <%= address.company %><br /><% end  %>
  Name: <%= address.first_name %> <%= address.surname %><br />
  Straße: <%= address.street_name %> <%= address.street_number %><br />
  Ort: <%= address.post_code %> <%= address.city %><br />
  <% if address.kind == 1 %>Ust. ID: <%= address.tax_no %><br /><% end %>
  <% if address.kind == 2 && !address.birthday.nil? %>Geburtstag: <%= address.birthday.long %><br /><% end  %>
</p>
<% end %>

<h2>Bestellpositionen</h2>
<ul>
  <% @order.order_lines.each do |line| %>
  <li>
    <%= line.kind == 1 ? "Ust. Registrierung" : "Ust. Deklaration" %>
    in <%= line.country_iso_code == nil ? "Andere" : line.country_iso_code %>
  </li>
  <% end %>
</ul>
<b>Anzahlung: <%= @order.value / 100 %> EUR</b>
