<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Ihre Bestellung bei Amavat</h1>
    <%= form_for :order, url: orders_path do |order_form| %>
    <%= render 'shared/error_messages' %>
    <p>
      <%= order_form.label :email, 'E-Mail Adresse' %>
      <%= order_form.email_field :email, class: 'form-control' %>
    </p>
    <%= order_form.fields_for :company_address, @company_address do |company| %>
    <h2>Firmenanschrift</h2>
    <p>
      <%= company.label :company, 'Firma' %>
      <%= company.text_field :company, class: 'form-control' %>
    </p>
    <p>
      <div class="half-size-left">
        <%= company.label :first_name, 'Ansprechpartner Vorname' %>
        <%= company.text_field :first_name, class: 'form-control' %>
      </div>
      <div class="half-size-right">
        <%= company.label :surname, 'Ansprechpartner Nachname' %>
        <%= company.text_field :surname, class: 'form-control' %>
      </div>
    </p>
    <p>
      <div class="half-size-left">
        <%= company.label :street_name, 'Straße' %>
        <%= company.text_field :street_name, class: 'form-control' %>
      </div>
      <div class="half-size-right">
        <%= company.label :street_number, 'Hausnummer' %>
        <%= company.text_field :street_number, class: 'form-control' %>
      </div>
    </p>
    <p>
      <div class="half-size-left">
        <%= company.label :post_code, 'PLZ' %>
        <%= company.text_field :post_code, class: 'form-control' %>
      </div>
      <div class="half-size-right">
        <%= company.label :city, 'Ort' %>
        <%= company.text_field :city, class: 'form-control' %>
      </div>
    </p>
    <p>
      <%= company.label :country, 'Land' %>
      <%= company.text_field :country, class: 'form-control' %>
    </p>
    <p>
      <%= company.label :tax_no, 'Ust-ID' %>
      <%= company.text_field :tax_no, class: 'form-control' %>
    </p>
    <% end %>
    <%= order_form.fields_for :person_address, @person_address do |person| %>
    <h2>Name und Anschrift des Geschäftsführers oder Einzelunternehmers</h2>
    <p>
      <div class="half-size-left">
        <%= person.label :first_name, 'Vorname' %>
        <%= person.text_field :first_name, class: 'form-control' %>
      </div>
      <div class="half-size-right">
        <%= person.label :surname, 'Nachname' %>
        <%= person.text_field :surname, class: 'form-control' %>
      </div>
    </p>
    <p>
      <div class="half-size-left">
        <%= person.label :street_name, 'Straße' %>
        <%= person.text_field :street_name, class: 'form-control' %>
      </div>
      <div class="half-size-right">
        <%= person.label :street_number, 'Hausnummer' %>
        <%= person.text_field :street_number, class: 'form-control' %>
      </div>
    </p>
    <p>
      <div class="half-size-left">
        <%= person.label :post_code, 'PLZ' %>
        <%= person.text_field :post_code, class: 'form-control' %>
      </div>
      <div class="half-size-right">
        <%= person.label :city, 'Ort' %>
        <%= person.text_field :city, class: 'form-control' %>
      </div>
    </p>
    <p>
      <%= person.label :country, 'Land' %>
      <%= person.text_field :country, class: 'form-control' %>
    </p>
    <p>
      <%= person.label :birthday, 'Geburtstag' %>
      <%= person.date_field :birthday, class: 'form-control' %>
    </p>
    <% end %>
    <h2>Ust. Registrierung soll vorgenommen werden für:</h2>
    <%= order_form.fields_for 'registrations[]', [] do |registration| %>
    <p>
      <%= registration.label :registration_germany, class: 'checkbox inline' do %>
      <%= registration.check_box :registration_germany %>
      <span>Deutschland</span>
      <% end %>
    </p>
    <p>
      <%= registration.label :registration_poland, class: 'checkbox inline' do %>
      <%= registration.check_box :registration_poland %>
      <span>Polen</span>
      <% end %>
    </p>
    <p>
      <%= registration.label :registration_czech, class: 'checkbox inline' do %>
      <%= registration.check_box :registration_czech %>
      <span>Tschechische Republik</span>
      <% end %>
    </p>
    <p>
      <%= registration.label :registration_austria, class: 'checkbox inline' do %>
      <%= registration.check_box :registration_austria %>
      <span>Österreich</span>
      <% end %>
    </p>
    <p>
      <%= registration.label :registration_spain, class: 'checkbox inline' do %>
      <%= registration.check_box :registration_spain %>
      <span>Spanien</span>
      <% end %>
    </p>
    <p>
      <%= registration.label :registration_france, class: 'checkbox inline' do %>
      <%= registration.check_box :registration_france %>
      <span>Frankreich</span>
      <% end %>
    </p>
    <p>
      <%= registration.label :registration_uk, class: 'checkbox inline' do %>
      <%= registration.check_box :registration_uk %>
      <span>Großbritannien</span>
      <% end %>
    </p>
    <p>
      <%= registration.label :registration_italy, class: 'checkbox inline' do %>
      <%= registration.check_box :registration_italy %>
      <span>Italien</span>
      <% end %>
    </p>
    <p>
      <%= registration.label :registration_other, class: 'checkbox inline' do %>
      <%= registration.check_box :registration_other %>
      <span>Andere Länder</span>
      <% end %>
    </p>
    <% end %>
    <h2>Eine Registrierung besteht schon, laufende Ust. Deklaration soll übernommen
      werden für:</h2>
    <%= order_form.fields_for 'declarations[]', [] do |declaration| %>
    <p>
      <%= declaration.label :declaration_germany, class: 'checkbox inline' do %>
      <%= declaration.check_box :declaration_germany %>
      <span>Deutschland</span>
      <% end %>
    </p>
    <p>
      <%= declaration.label :declaration_poland, class: 'checkbox inline' do %>
      <%= declaration.check_box :declaration_poland %>
      <span>Polen</span>
      <% end %>
    </p>
    <p>
      <%= declaration.label :declaration_czech, class: 'checkbox inline' do %>
      <%= declaration.check_box :declaration_czech %>
      <span>Tschechische Republik</span>
      <% end %>
    </p>
    <p>
      <%= declaration.label :declaration_austria, class: 'checkbox inline' do %>
      <%= declaration.check_box :declaration_austria %>
      <span>Österreich</span>
      <% end %>
    </p>
    <p>
      <%= declaration.label :declaration_spain, class: 'checkbox inline' do %>
      <%= declaration.check_box :declaration_spain %>
      <span>Spanien</span>
      <% end %>
    </p>
    <p>
      <%= declaration.label :declaration_france, class: 'checkbox inline' do %>
      <%= declaration.check_box :declaration_france %>
      <span>Frankreich</span>
      <% end %>
    </p>
    <p>
      <%= declaration.label :declaration_uk, class: 'checkbox inline' do %>
      <%= declaration.check_box :declaration_uk %>
      <span>Großbritannien</span>
      <% end %>
    </p>
    <p>
      <%= declaration.label :declaration_italy, class: 'checkbox inline' do %>
      <%= declaration.check_box :declaration_italy %>
      <span>Italien</span>
      <% end %>
    </p>
    <p>
      <%= declaration.label :declaration_other, class: 'checkbox inline' do %>
      <%= declaration.check_box :declaration_other %>
      <span>Andere Länder</span>
      <% end %>
    </p>
    <% end %>
    <div class="confirmation">
      <%= order_form.label :confirmation, class: 'checkbox inline' do %>
      <%= order_form.check_box :confirmation %>
      <span class="has-warning">Ich stimme der Mandatsvereinbarung zu.</span>
      <% end %>
    </div>
    <p style="font-size: larger; margin-left: 20px;">
      Die Mandatsvereinbarung kann
      <a href="<%= asset_path('SyndicateMembershipAgreement.pdf') %>" target="_blank">
        hier</a> geladen werden.
    </p>
    <p style="margin: 20px;">
      <%= order_form.submit 'Preis ermitteln', class: "btn btn-primary" %>
    </p>
    <% end %>
  </div>
</div>
